
{% extends "base.html" %} {% block content %}
<h1>Signup</h1>
<form method="post">
    <table>
        <tbody><tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" value="{{username}}" type="text">
                <span class="error">{% if error_code == True %}{{user_error}}{% endif %}</span>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
                <span class="error">{% if error_code == True %}{{password_error}}{% endif %}</span>
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password">
                <span class="error">{% if error_code == True %}{{verify_error}}{% endif %}</span>
            </td>
        </tr>
        <tr>
            <td><label for="email">Email (optional)</label></td>
            <td>
                <input name="email" value="{{email}}">
                <span class="error">{% if error_code == True %}{{email_error}}{% endif %}</span>
            </td>
        </tr>
    </tbody></table>
    <input type="submit">
</form>
{% endblock %}